{
    "parserOptions": {
        "ecmaVersion": 8,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true,
            "tsx": true
        }
    },
    "env": {
        "node": true
    },
    "rules": {
        "semi": "error"
    }
}
