.template-array-box {
  .ant-btn {
    border-width: 0;
    padding: 4px;    
  }
  .ant-form-item {
    display: inline-flex;
    margin-right: 4px;
    margin-bottom: 10px;
  }

}
.array-cards-addition {
    display: inline-block;
    .ant-btn {
        border-width: 0;
        padding: 0;
    }
}